In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
pd.set_option('display.max_columns', None)

In [7]:
data = pd.read_csv('abTesting.csv')
data.head()

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:27,5,64,79.0,U,2,189023.86,1,4,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/17 15:26,5,64,79.0,U,2,189023.86,1,4,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:19,5,64,79.0,U,2,189023.86,1,4,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/17 15:19,5,64,79.0,U,2,189023.86,1,4,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:18,5,64,79.0,U,2,189023.86,1,4,Test

In [5]:
data.shape

(321195, 14)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321195 entries, 0 to 321194
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         321195 non-null  int64
 1   visitor_id        321195 non-null  object
 2   visit_id          321195 non-null  object
 3   process_step      321195 non-null  object
 4   date_time         321195 non-null  object
 5   clnt_tenure_yr    321195 non-null  int64
 6   clnt_tenure_mnth  321195 non-null  int64
 7   clnt_age          321195 non-null  float64
 8   gendr             321195 non-null  object
 9   num_accts         321195 non-null  int64
 10  bal               321195 non-null  float64
 11  calls_6_mnth      321195 non-null  int64
 12  logons_6_mnth     321195 non-null  int64
 13  Variation         321195 non-null  object
dtypes: float64(2), int64(6), object(6)
memory usage: 34.3+ MB

In [11]:
#data.isna().sum()

In [15]:
data['date_time'] = pd.data['date_time'].astype('date')

AttributeError: module 'pandas' has no attribute 'data'